body {        
   font-family: 'Helvetica';
   background-color: white;
   font-size: 16px;
}

td {        
   font-family: 'Helvetica';
   background-color: white;
   font-size: 16px;
}
/* Title of the resume */
h1 {
    font-family: 'Helvetica';
    font-weight: bold;    
    font-size: 28px;
    text-align:center;
    margin-bottom:8px;
}
/* Titles of categories */
h2 {
    font-size: 16px;
    font-weight: bold;
}
/* There is a bar just before each category */
h2:before {
    content: "";
    display: inline-block;
    margin-right:2%;
    width: 14.8%;
    height: 16px;
    background-color: grey;
}
h3 {
    font-size: 16px;
    font-weight: bold;
    color:grey;
}

h4{
    font-size: 16px;
}
h4:before {
    content: "";
    display: inline-block;
    margin-right:2%;
    width: 15%;
    height: 16px;
}

/* Definitions */
dt {
    float: left;
    clear: left;
    width: 17%;
    font-size:16px;
}
dd {
    margin-left: 17%;
}
p {
    margin-top:0;
    margin-bottom:11px;
}
/* Blockquotes */
blockquote {
    text-align: center
}
/* Links */
a {
    text-decoration: none;
    
}
a:hover, a:active {
    text-decoration: underline;
}
table {
    width: 100%;
    background-color: #ebebeb;
}

ul, li {
  margin-left: 7px;
  padding-left: 7px;
  margin-bottom: 3px;
  padding-bottom: 3px;
}

@media print {
   * {
      background: transparent !important;
      color: black !important;
      filter:none !important;
      -ms-filter: none !important;
   }

   body {
      font-size:12pt;
      max-width:100%;
   }

   a, a:visited {
      text-decoration: underline;
   }
   pre, blockquote {
      padding-right: 1em;
      page-break-inside: avoid;
   }
   tr, img {
      page-break-inside: avoid;
   }

   img {
      max-width: 100% !important;
   }

   @page :left {
      margin: 15mm 20mm 15mm 10mm;
   }

   @page :right {
      margin: 15mm 10mm 15mm 20mm;
   }

   p, h2, h3 {
      orphans: 3; widows: 3;
   }

   h2, h3 {
      page-break-after: avoid;
   }
}